  <br>
  <br>
  <br>
  
  <div class="card" style="display: flex; justify-content: center; align-items: center; background-image: url('/assests/57972.jpg');">

    <img src="/static/assests/profilepic.jpg" alt="Avatar"style="width:20%">
    <img src="/static/assests/profilepic.jpg" alt="Avatar"style="width:20%">  
    <div class="container">
      <h4><b>John Doe</b></h4>
      <p>Developer</p>
    </div>


  </div>
  <div class="backbutton">
    <a href="/router/homepage">back</a>
  </div>


