<%-include('header') %>

<div class="text-center center-div mt-5 "id="login">
<div-container class="w-25 border py-5 mt-5">
<h3>welcome  to the homepage</h3>
<h5><%=user%></h5>
<a href ="/router/logout">Logout</a>
</div>
</div>




<%-include('footer') %>

