
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto+Condensed:wght@300&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
background-image:url('assests/57972.jpg') ;



}

.center-div{
    padding-top: 10%;
}

.btn.btn-success{
    padding:1em 2em;
}

form{
    padding:0 3em;
}

#login.title> span{
    font-size:.8em;
}


.logout {
    margin-left: 90%;
    padding-top: -30%;
}


a.button {
    display:inline-block;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    background-color: #3498db;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

a.button:hover {
    background-color: #021c2e;
  }

.nextbutton{
    margin: 0;
    height :200px;
    position:relative;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    font-size: 20px; 
}

.backbutton{
    margin: 0;
    height :200px;
    position:relative;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    font-size: 20px; 

}


