
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto+Condensed:wght@300&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
background-image:url('assests/57972.jpg') ;


}

.center-div{
    padding-top: 10%;
}

.btn.btn-success{
    padding:1em 2em;
}

form{
    padding:0 3em;
}

#login.title> span{
    font-size:.8em;
}


  